@media screen and (max-width: 478px) {



    .img_wrapper {
        background: url('/public/imgs/BG.png') center center/cover no-repeat;
        display: grid;
        grid-template-columns: 50px 50px 50px 50px 50px 50px 50px
        50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px
        50px 50px 50px ;
        justify-content: center;
        height: 500px;
    }

    .top-page-wrapper {
        grid-column: 2 / 6;
        grid-row: 5 / 7;
    }

    .indulge-text {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 14px;
        color: #fff;
        padding-bottom: 19px;
        font-weight: 400;
    }
    
    .coffee-text {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 20px;
        color: #fff;
        font-weight: 700;
    }




    .cup-img {
        width: 200px;
        height: 250px;
    }

    .cup-wrapper {
        grid-column: 7 / 11;
        grid-row: 3 / 8;
    
    }



/***************************** SECTION 2 CSS *****************************/


    .s2-wrapper {
        display: grid;
        grid-template-columns: 50px 50px 50px 50px 50px 50px 50px
        50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px
        50px 50px 50px ;
        justify-content: space-evenly;
    }

    .drip-img {
        width: 150px;
        height: 200px;
    }

    .s2-img-wrapper {
        grid-column: 2 / 5;
        grid-row: 4 / 8;
    }



    .s2-text-wrapper {
        display: flex;
        flex-direction: column;
        grid-column: 6 / 10;
        grid-row: 4 / 8;
    }

    .s2-same-text {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 16px;
        color: #50291B;
    }

    .s2-bold-text {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 20px;
        color: #50291B;
        font-weight: 700;
    }

    .s2-content-text {
        padding-bottom: 21px;
        font-size: 10px;
    }

/***************************** SECTION 3 CSS *****************************/

    .s3-wrapper {
        background-color: #351206;
        display: grid;
        grid-template-columns: 50px 50px 50px 50px 50px 50px 50px
        50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px
        50px 50px 50px ;
        justify-content: space-evenly;
    }


    .top-left{
        width: 145px;
        height: 70px;
        border-radius: 10px;
        background-color: #fff;
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    .item-text {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #50291B;
    }

    .item-des {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 8px;
        color: #50291B;
    }

    .item-description {
        padding-top: 3px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .top-middle{
        width: 145px;
        height: 70px;
        border-radius: 10px;
        background-color: #fff;
        grid-column: 7 / 10;
        grid-row: 1 / 3;
        margin-top: 51px;
    }

    .top-right{
        display: none;
    }

    .middle-left{
        width: 145px;
        height: 70px;
        border-radius: 10px;
        background-color: #fff;
        grid-column: 2 / 4;
        grid-row: 3 / 5;
        margin-top: 51px;
    }

    .middle-middle{
        width: 145px;
        height: 70px;
        border-radius: 10px;
        background-color: #fff;
        grid-column: 7 / 10;
        grid-row: 3 / 5;
        margin-top: 51px;
    }

    .middle-right{
        display: none;
    }

    .bottom-left{
        width: 145px;
        height: 70px;
        border-radius: 10px;
        background-color: #fff;
        grid-column: 2 / 4;
        grid-row: 5 / 7;
        margin-top: 51px;
    }

    .bottom-middle{
        width: 145px;
        height: 70px;
        border-radius: 10px;
        background-color: #fff;
        grid-column: 7 / 10;
        grid-row: 5 / 7;
        margin-top: 51px;
    }


    .bottom-right{
        display: none;
    }


}

